<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @membership.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @membership.role %>
</p>

<%= link_to 'Back', team_memberships_path(@team) %>
