<br >
<div class="events">
<%= render :partial => 'events', :locals => { :events => @events } %>
</div>

<%= link_to 'Load More events', team_events_path(team_id: @team.id, :till_id => @events.last.id), :class => 'load-more-events', :remote => true if @events.next_page %>